<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
<ul >
    <li>List popular languages for Data Science</li>
    <li>commonly used libraries used by Data Scientists</li>
    <li>Data Science Tools</li>
    <li>few examples of evaluating arithmetic expressions in Python</li>
</ul>

<h2>Author</h2>
ATHUL V.S

Some of the popular languages that Data Scientists use are:

<ol>
    <li>Python</li>
    <li>R</li>
    <li>Sql</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Numpy </li>
    <li>Pandas </li>
    <li>Matplotlib </li>
    <li>Scikit </li>

</ol>

<table align="left">
    <tr>
    <th>Data Science Tools</th>
    </tr>
    <tr>
    <td>Jupyter Notebook</td>
    </tr>
    <tr>
    <td>RStudio</td>
    </tr>
    <tr>
    <td>VS Code</td></tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python
</h3>

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#his will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335